{% extends 'base.html.twig' %}

{% set task = task ?? null %}

{% block body %}
    <div class="row">
        {{ form(form, { attr: { id: form.vars.id }}) }}
    </div>
        
    <div class="d-flex justify-content-between">
        <a href="{{ path('task.list') }}" class="btn btn-primary">Retour à la liste des tâches</a>

        <button type="submit" form="{{ form.vars.id }}" class="btn btn-success">{{ task ? 'Modifier' : 'Ajouter' }}</button>
    </div>
{% endblock %}
