{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block body %}
    <turbo-frame id="tasks">
        <div class="d-flex gap-1 mb-3 flex-column flex-md-row">
            <a href="{{ path('task.list') }}" class="btn btn-success">Revenir à la liste des tâches (tout auteur)</a>
            <a href="{{ path('task.list-by-user', { id: user.id }) }}" class="btn btn-success">Consulter la liste des tâches</a>
            <a href="{{ path('task.list-by-user', { id: user.id }) }}?done=0" class="btn btn-info">Consulter la liste des tâches à faire</a>
            <a href="{{ path('task.list-by-user', { id: user.id }) }}?done=1" class="btn btn-secondary">Consulter la liste des tâches terminées</a>
        </div>

        <div class="row">
            {% for task in tasks %}
                {% include("task/_task-card.html.twig") %}
            {% else %}
                <div class="alert alert-warning" role="alert">
                    Cet utilisateur n'a aucune tâche associée.
                </div>
            {% endfor %}
        </div>
    </turbo-frame>
{% endblock %}
