{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}

    <div class="d-flex gap-1">
        <a href="{{ path('task.list') }}" class="btn btn-success">Consulter la liste des tâches</a>
        <a href="{{ path('task.list') }}?done=0" class="btn btn-info">Consulter la liste des tâches à faire</a>
        <a href="{{ path('task.list') }}?done=1" class="btn btn-secondary">Consulter la liste des tâches terminées</a>
    </div>
{% endblock %}
