{% extends "base.html.twig" %}

{% block body %}
    <h1>Accès refusé</h1>

    <div class="alert alert-danger" role="alert">
        <strong>Oops !</strong> Vous n'avez pas le droit d'accéder à cette page.
    </div>
{% endblock %}
