{% extends "base.html.twig" %}

{% block body %}
    <h1>Erreur</h1>

    <div class="alert alert-danger" role="alert">
        <strong>Oops !</strong> Une erreur est survenue.
    </div>
{% endblock %}
