{% extends 'base.html.twig' %}

{% set user = user ?? null %}

{% block header_title %}
    {% if user %}
        <h1>Modifier <strong>{{ user.username }}</strong></h1>
    {% else %}
        <h1>Créer un utilisateur</h1>        
    {% endif %}
{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        {{ form(form) }}
    </div>

    <button type="submit" form="{{ form.vars.id }}" class="btn btn-success float-end">{{ user ? 'Modifier' : 'Ajouter' }}</button>
{% endblock %}
